@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gap: 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-family: 'Handlee', cursive;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

a {
  text-decoration: underline;
  color: blue;
}
